.searchInput{
    border: 0px;
    border-radius: 15px 0px 0px 15px;
    background-color: aliceblue;
    height: 3em;
}

.searchButton{
    border: 0px;
    border-radius: 0px 15px 15px 0px;
    background-color: #c6de41;
    height: 3em;
}

.bar{
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: flex-end;
}